.dateListInput {
    display: flex;
    font-family: "Open Sans"; 
}

h2 {
    font-family: "Open Sans";
    margin: 0;
 
}
.dateItem {
    display: flex;
    flex-direction: column;
    margin: .5em;
    justify-content: center;
}