.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#toplevel {
  background-color: var(--background);
  display: flex;
}

.draggableParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  height: 96.1vh;
  background: rgb(51,52,53);
  background: linear-gradient(90deg, rgba(51,52,53,1) 22%, rgba(49,50,51,1) 31%, rgba(47,49,50,1) 40%, rgba(49,50,51,1) 65%, rgba(96,91,92,1) 100%); 
}

.draggableSection {
  background: rgba(217, 217, 217, 0.10);
  text-align: center;
  border-radius: 5px;
  width: calc(50% - 0.6em);
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 48.7%;
  margin:0.3rem;  
  overflow: hidden;
}

.DraggableListItemParent {
  display: flex;
  justify-content: space-between;
}

.topSection {
  display: flex;
  width: 100%;
  height: 100%;
}

.bottomSection {
  display: flex;
  width: 100%;
  height: auto;
}

.boardContainer {
  width: 100%;
  height: 98%;
}

.boardHeader {
  height: auto;
  color: var(--header);
  font-family: "Open Sans Bold";
  display: flex;
}

h3 {
  margin: 0.37em;
}